* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
}

#container {
    position: relative;
    margin: 0 auto;
}

#header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9999;
}

#content {
    margin:0px auto;
    position: relative;
    width:95%;
    min-height: 800px;
    margin-top:60px;
}

#footer {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    background-color: green;
}

#login {
    width:300px;
    height:200px;
    margin:0 auto;
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;
}

#login > h2 {
    padding:5px;
    background-color: green;
}

#login > button {
    margin-top: 10px;
}

.menu {
    background-color: green;
}

.bottomControls {
    width:100%;
    text-align: center;
    padding:10px;
    margin-top: 5px;
    background-color: #EAECEE;
    box-shadow: 0px 0px 5px 0px green;
}

.bottomControls > button {

}

.edit .ui-inputfield, .edit .ui-selectonemenu {
    width: 100%;
}

.columns.two {
    width: 50%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.sticky {
    position: fixed;
    bottom:0;
    left:0;
}

.clearfix {
    clear: both;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    word-wrap: break-word
}

.editButton {
    width: 30px;
    height: 30px;
    background: url("../resources/img/edit.png") no-repeat center !important;
}

.viewButton {
    width: 30px;
    height: 30px;
    background: url("../resources/img/view.png") no-repeat center !important;
}