body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
}

#container {
    position: relative;
    margin: 0 auto;
}

#header {
    position: relative;
    width: 100%;
    height:60px;
    background-color: green;
}

#content {
    margin:0px auto;
    position: relative;
    width:95%;
}

#footer {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    background-color: green;
    clear: both;
}

.columns.two {
    width: 50%;
}

.left {
    float:left;
}

.right {
    float:right;
}